.advantages {
  padding: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 13px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.advantages__icon {
  position: absolute;
  fill: #63d1bb;
}

.advantages__icon--materials {
  top: 16px;
  left: 7px;
  width: 32px;
  height: 37px;
}

.advantages__icon--money {
  top: 17px;
  left: 0;
  width: 47px;
  height: 27px;
}

.advantages__icon--likes {
  top: 21px;
  left: 7px;
  width: 33px;
  height: 28px;
}

.advantages__icon--love {
  top: 18px;
  left: 3px;
  width: 35px;
  height: 35px;
}

.advantages__icon--factory {
  top: 20px;
  left: -5px;
  width: 54px;
  height: 23px;
}

.advantages__icon--gift {
  top: 18px;
  left: 3px;
  width: 33px;
  height: 32px;
}

@media (min-width: 768px) {
  .advantages {
    width: auto;
    padding-top: 48px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
  }

  .advantages__title {
    display: block;
    width: 678px;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__container {
    width: 635px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-right: 33px;
  }

  .advantages__list {
    padding-top: 10px;
    column-count: 2;
    column-width: 300px;
    column-gap: 35px;
  }

  .advantages__item {
    padding-top: 92px;
    padding-bottom: 19px;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__icon--materials {
    top: 37px;
    left: 9px;
  }

  .advantages__icon--money {
    top: 40px;
    left: 2px;
  }

  .advantages__icon--likes {
    top: 43px;
    left: 8px;
  }

  .advantages__icon--love {
    top: 40px;
    left: 2px;
  }

  .advantages__icon--factory {
    top: 42px;
    left: -7px;
  }

  .advantages__icon--gift {
    top: 40px;
    left: 2px;
  }
}

@media (min-width: 1150px) {
  .advantages {
    padding-bottom: 55px;
    padding-top: 62px;
  }

  .advantages__title {
    padding-left: 175px;
    width: 885px;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.01em;
  }

  .advantages__container {
    padding-left: 180px;
    padding-right: 215px;
    width: 665px;
  }
}
