.advantages {
  padding: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__item {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
