.contacts {
  position: relative;
  margin-bottom: 40px;
}

.contacts__flag-svg {
  display: none;
}

.contacts__wrapper {
  padding-top: 20px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.contacts__container {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.contacts__header {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__item {
  display: flex;
}

.contacts__label {
  min-width: 80px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-transform: lowercase;
}

.contacts__link {
  border-bottom: 1px solid #62d1ba;
  margin-bottom: 29px;

  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    color: #ecf9f7;
    border-bottom: 1px solid #ecf9f7;
  }
}

.contacts__link,
.contacts__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  letter-spacing: -0.015em;
}

.contacts__map {
  position: absolute;
  width: 100%;
  min-height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: 322px 457px;
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__feedback {
  display: block;
  margin: 0 auto;
  margin-top: 535px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .contacts {
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 0;
  }

  .contacts__flag-svg {
    position: absolute;
    display: block;
    width: 47px;
    height: 82px;
    right: 53px;
    top: 45px;
  }

  .contacts__wrapper {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__header {
    display: block;
    width: 678px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__container {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .contacts__item {
    width: 334px;
  }

  .contacts__label {
    min-width: 78px;
  }

  .contacts__link {
    margin-bottom: 59px;
  }

  .contacts__link,
  .contacts__text {
    letter-spacing: -0.01em;
  }

  .contacts__label,
  .contacts__link,
  .contacts__text {
    font-size: 17px;
  }

  .contacts__map {
    position: absolute;
    width: 100%;
    margin-left: -45px;
    margin-top: 55px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px 457px;
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__feedback {
    width: 200px;
    margin: 0 auto;
    margin-top: 569px;
    margin-bottom: 55px;
    letter-spacing: normal;
  }
}

@media (min-width: 1150px) {
  .contacts {
    padding-top: 0;
  }

  .contacts__flag-svg {
    top: 133px;
    left: 113px;
  }

  .contacts__wrapper {
    position: relative;
    width: 350px;
    padding-left: 175px;
    padding-right: 535px;
    margin: 0 auto;
    padding-top: 142px;
  }

  .contacts__header {
    margin-top: 0;
    margin-bottom: 48px;
    width: 350px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__container {
    flex-direction: column;
    width: 350px;
    padding-left: 3px;
  }

  .contacts__link {
    margin-bottom: 29px;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin-left: 0;
    margin-top: 70px;
    top: 0;
    right: 5px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px 457px;
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__feedback {
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 105px;
    padding: 12px 14px;
  }
}
