.itemcard a {
  text-decoration: none;
  color: #000000;
}

.itemcard__img-container {
  display: block;
  width: 260px;
  height: 195px;
  overflow: hidden;
}

.itemcard__img {
  width: 100%;
  height: auto;
}

.itemcard__container {
  padding: 27px;
  border: 1px solid #ededed;
}

.itemcard__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.itemcard__description {
  display: block;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.itemcard__price-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #ededed;
}

.itemcard__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.itemcard__order-btn {
  padding: 0;
  margin-bottom: 5px;
  width: 20px;
  height: 19px;
  align-self: flex-end;
  border: none;
  outline: 1px solid red;
}

@media (min-width: 768px) {
  .itemcard {
    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .itemcard__img-container {
    width: 334px;
    height: 334px;
  }

  .itemcard__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .itemcard__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    padding-top: 25px;
  }

  .itemcard__description {
    font-size: 15px;
  }

  .itemcard__price-container {
    padding-top: 22px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .itemcard__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .itemcard__img-container {
    width: 316px;
    height: 462px;
  }

  .itemcard__container {
    width: 260px;
    min-height: 145px;
    padding-top: 27px;
    padding-bottom: 25px;
  }

  .itemcard__description {
    padding-bottom: 0;
  }

  .itemcard__price-container {
    padding-left: 0;
  }
}
