.main-nav {
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav a {
  display: block;
  width: 215px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;
  padding-right: 30px;
  margin: 0 auto;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav {
    max-height: 0;
    margin: 0 50px;
    margin-left: 0;
    order: 2;
    font-size: 15px;
    z-index: 1;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
  }

  .main-nav a {
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 35px;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    max-height: inherit;
    margin: 0;
    order: -1;
    font-size: 17px;
  }

  .main-nav__list {
    max-height: inherit;
  }

  .main-nav__list li:nth-child(2n-1) > a {
    padding-left: 0;
    border-right: 1px solid #ececec;
  }

  .main-nav__list li:nth-child(2n) > a {
    padding-left: 35px;
  }

  .main-nav a {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
