.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu__link {
  display: block;
  padding: 30px;
  padding-right: 160px;
  width: 130px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.main-menu__item:nth-of-type(2n-1) {
  background-color: #63d1bb;
}

.main-menu__item:nth-of-type(2n) {
  background-color: #56c3b2;
}
