.modal-buy {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #c6c6c6;
  z-index: 10;
  opacity: 1;
}

.modal-buy__header {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-buy__btn {
  margin-bottom: 45px;
  width: 100%;
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
}

@media (min-width: 768px) {
  .modal-buy {
    width: 360px;
    padding: 45px 108px;
    padding-top: 40px;
  }

  .modal-buy__header {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 57px;
  }

  .modal-buy__btn {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 16px;
  }
}
