.order-form fieldset {
  padding: 0;
  border: none;
}

.order-form__fieldset {
  position: relative;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  border: none;
}

.order-form__fieldset-legend {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 33px;
  margin-left: -5px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #62d1ba;
  text-transform: uppercase;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 20px;
    height: 2px;
    background-color: #62d1ba;
  }
}

.order-form__fieldset-legend--nomargin {
  margin-bottom: 0;
}

.order-form__type,
.order-form__color {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-form__type li {
  position: relative;
  margin-bottom: 25px;
}

.order-form__color li {
  position: relative;
  margin-bottom: 39px;
  padding-top: 4px;
}

.order-form label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__var {
  padding-left: 60px;
  display: block;
}

.order-form input[type="radio"]:focus + label::before,
.order-form input[type="checkbox"]:focus + label::before {
  outline: 2px solid #9cbef5;
}

.order-form input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: -10px;
  left: -1px;
  border-radius: 50%;
  border: 2px solid #444444;
}

.order-form input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 2px;
  left: 11px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: -8px;
  left: -1px;
  border: 2px solid #444444;
}

.order-form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 5px;
  background-image: url("../img/icon-tick.svg");
  background-size: 25px;
  background-repeat: no-repeat;
}

.order-form input[type="radio"] + label:hover::before,
.order-form input[type="checkbox"] + label:hover::before {
  border: 2px solid #69d3bd;
}

.order-form input[type="radio"] + label:focus::before,
.order-form input[type="checkbox"] + label:focus::before,
.order-form input[type="radio"] + label:active::before,
.order-form input[type="checkbox"] + label:active::before {
  border: 2px solid #c7c7c7;
}

.order-form input[type="radio"]:disabled + label,
.order-form input[type="checkbox"]:disabled + label {
  color: #c7c7c7;
}

.order-form input[type="radio"]:disabled + label::before,
.order-form input[type="radio"]:disabled + label:hover::before,
.order-form input[type="checkbox"]:disabled + label::before,
.order-form input[type="checkbox"]:disabled + label:hover::before {
  border: 2px solid #c7c7c7;
}

.order-form__type li:last-child,
.order-form__color li:last-child {
  margin-bottom: 0;
}

.order-form__personal-container {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  margin-left: -3px;
}

.order-form input:invalid {
  border-bottom: 2px solid red;
}

.order-form__personal-container:last-child > .order-form__input {
  margin-bottom: -11px;
}

.order-form__growing-container {
  position: relative;
}

.order-form__phone-icon {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 16px;
  right: 10px;
  opacity: 0.2;
}

.order-form__email-icon {
  position: absolute;
  width: 32px;
  height: 26px;
  top: 17px;
  right: 6px;
  opacity: 0.2;
}

.order-form__input {
  padding: 16px 0;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.order-form__input--phone {
  width: 100%;
  box-sizing: border-box;
  padding: 19px 0;
  padding-right: 40px;
  margin-bottom: 32px;
}

.order-form__input--email {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: -10px;
  padding: 23px 0;
  padding-bottom: 16px;
  padding-right: 40px;
}

.order-form__input--phone:hover + .order-form__phone-icon,
.order-form__phone-icon:hover,
.order-form__input--phone:focus + .order-form__phone-icon,
.order-form__input--email:hover + .order-form__email-icon,
.order-form__email-icon:hover,
.order-form__input--email:focus + .order-form__email-icon {
  fill: #62d1ba;
  opacity: 1;
}

.form-ph() {
  color: #c7c7c7;
}

.order-form__input::placeholder {
  .form-ph();
}

.order-form__comments::placeholder {
  .form-ph();
}

.order-form__input::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:-moz-placeholder {
  .form-ph();
}

.order-form__comments:-moz-placeholder {
  .form-ph();
}

.order-form__input::-moz-placeholder {
  .form-ph();
}

.order-form__comments::-moz-placeholder {
  .form-ph();
}

.order-form__input:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:-ms-input-placeholder {
  .form-ph();
}

.order-form__input:hover::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments:hover::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:hover:-moz-placeholder {
  .form-ph();
}

.order-form__comments:hover:-moz-placeholder {
  .form-ph();
}

.order-form__input:hover::-moz-placeholder {
  .form-ph();
}

.order-form__comments:hover::-moz-placeholder {
  .form-ph();
}

.order-form__input:hover:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:hover:-ms-input-placeholder {
  .form-ph();
}

.order-form__input:focus::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments:focus::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:focus:-moz-placeholder {
  .form-ph();
}

.order-form__comments:focus:-moz-placeholder {
  .form-ph();
}

.order-form__input:focus::-moz-placeholder {
  .form-ph();
}

.order-form__comments:focus::-moz-placeholder {
  .form-ph();
}

.order-form__input:focus:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:focus:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 12px 14px;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;

  &:hover,
  &:active {
    border: 2px solid #62d1ba;
  }
}

.order-form__submit-container {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.order-form__note {
  margin: 0;
  margin-bottom: 30px;
  margin-top: -5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  margin-bottom: 25px;
  width: 100%;
  background-color: #ffffff;
  letter-spacing: normal;
}

@media (min-width: 768px) {
  .order-form__fieldset {
    display: flex;
    width: 668px;
    padding: 0 50px;
  }

  .order-form__fieldset-legend {
    align-self: flex-start;
    width: 164px;
    padding-top: 14px;
    padding-left: 3px;
  }

  .order-form__fieldset-legend::after {
    background-color: transparent;
  }

  .order-form__fieldset-legend--nomargin {
    padding-top: 10px;
  }

  .order-form__growing-container {
    flex-grow: 1;
  }

  .order-form__color-container {
    display: flex;
  }

  .order-form__type {
    margin-bottom: 0;
    flex-grow: 1;
  }

  .order-form__color {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 504px;
  }

  .order-form__color li:nth-child(2n-1) {
    width: 262px;
  }

  .order-form__color li:nth-child(2n) {
    width: 242px;
  }

  .order-form__color li:nth-child(3n) {
    margin-bottom: 0;
  }

  .order-form__type li,
  .order-form__color li {
    margin-bottom: 24px;
    letter-spacing: 0.07em;
  }

  .order-form__color li:nth-last-child(2) {
    margin: 0;
  }

  .order-form__type label {
    padding: 13px 0 18px 82px;
  }

  .order-form__color label {
    padding: 8px 0 22px 82px;
  }

  .order-form input[type="radio"] + label::before {
    width: 48px;
    height: 48px;
    top: -2px;
    left: 1px;
  }

  .order-form input[type="radio"]:checked + label::after {
    width: 20px;
    height: 20px;
    top: 14px;
    left: 17px;
  }

  .order-form input[type="checkbox"] + label::before {
    width: 50px;
    height: 48px;
    top: -3px;
    left: 1px;
  }

  .order-form input[type="checkbox"]:checked + label::after {
    width: 33px;
    height: 30px;
    top: 11px;
    left: 12px;
    background-size: 33px 23px;
    overflow: hidden;
  }

  .order-form__personal-container {
    flex-direction: row;
    padding-top: 8px;
  }

  .order-form label {
    margin-right: 25px;
  }

  .order-form__personal-container label {
    padding-top: 9px;
    padding-left: 6px;
    letter-spacing: 0.07em;
  }

  .order-form__input {
    margin-top: -7px;
    margin-bottom: 28px;
    padding: 16px;
    flex-grow: 1;
    letter-spacing: 0.07em;
  }

  .order-form__personal-container:last-child > .order-form__input {
    margin-bottom: 2px;
  }

  .order-form__phone-icon {
    top: 4px;
    right: 27px;
  }

  .order-form__email-icon {
    top: 4px;
    right: 25px;
  }

  .order-form__input--phone,
  .order-form__input--email {
    background-color: #f1f1f1;
  }

  .order-form__input--phone {
    margin-bottom: 31px;
  }

  .order-form__input--email {
    margin-bottom: 36px;
  }

  .order-form__comments {
    margin-top: 5px;
  }

  .order-form__submit-container {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .order-form__note {
    margin-bottom: 49px;
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    order: 2;
  }

  .order-form__btn {
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1150px) {
  .order-form__fieldset {
    width: 1050px;
  }

  .order-form__fieldset-legend {
    width: 112px;
    padding-left: 63px;
  }

  .order-form__type li:last-child,
  .order-form__color li:last-child {
    margin-bottom: 2px;
  }

  .order-form__color li {
    width: 262px;
  }

  .order-form__color-container {
    flex-direction: column;
  }

  .order-form__color {
    width: 875px;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .order-form__color li {
    width: 263px;
    margin-bottom: 24px;
  }

  .order-form__color li:nth-last-child(1),
  .order-form__color li:nth-last-child(2),
  .order-form__color li:nth-last-child(3) {
    margin-bottom: 0;
  }

  .order-form__growing-container {
    max-width: 700px;
  }

  .order-form__personal-container {
    padding-top: 7px;
  }

  .order-form__personal {
    width: 700px;
  }

  .order__container:nth-of-type(4) {
    padding-top: 60px;
  }

  .order-form__phone-icon {
    right: 8px;
  }

  .order-form__email-icon {
    right: 3px;
  }

  .order-form__input--phone,
  .order-form__input--email {
    width: 700px;
  }

  .order__container:nth-of-type(5) {
    padding-bottom: 46px;
  }

  .order-form__comments {
    width: 700px;
  }

  .order-form__submit-container {
    width: 700px;
    margin: 0 auto;
  }
}
