.order-form fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.order-form fieldset::before {
  content: "";
  position: absolute;
  width: 198px;
  height: 1px;
  background-color: #62d1ba;
  top: 8px;
  right: 0;
}

.order-form__fieldset-legend {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #62d1ba;
  text-transform: uppercase;
}

.order-form__type,
.order-form__color {
  padding: 0;
  padding-left: 62px;
  margin-top: 45px;
  margin-bottom: 50px;
  list-style: none;
}

.order-form__type li,
.order-form__color li {
  margin-bottom: 25px;
}

.order-form label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__personal {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

.order-form__input {
  padding: 15px 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 0%);
}

.order-form__input:last-child {
  margin-bottom: 35px;
}

.order-form__input::placeholder,
.order-form__comments::placeholder
{
  color: hsla(0, 0%, 27%, 0.3);
}

.order-form__input--phone,
.order-form__input--email{
  margin-top: 25px;
  width: 100%;
}

.order-form__comments {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px 17px;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid hsl(0, 0%, 0%);
}

.order-form__note {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  margin-bottom: 25px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}
