.order-form fieldset {
  position: relative;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  border: none;
}

.order-form__fieldset-legend {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #62d1ba;
  text-transform: uppercase;

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 20px;
    height: 2px;
    background-color: #62d1ba;
  }
}

.order-form__fieldset-legend--nomargin {
  margin-bottom: 0;
}

.order-form__type,
.order-form__color {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-form__type li,
.order-form__color li {
  padding-left: 80px;
  margin-bottom: 25px;
}

.order-form__type li:last-child,
.order-form__color li:last-child {
  margin-bottom: 0;
}

.order-form label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.order-form__personal-container {
  display: flex;
  flex-direction: column;
}

.order-form__padding-container .order-form__personal-container:last-child > .order-form__input {
  margin-bottom: 0;
}

.order-form__padding-container .order-form__input--email {
  margin-bottom: 0;
}

.order-form__input {
  padding: 20px 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-ph() {
  color: #c7c7c7;
}

.order-form__input::placeholder {
  .form-ph();
}

.order-form__comments::placeholder {
  .form-ph();
}

.order-form__input::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:-moz-placeholder {
  .form-ph();
}

.order-form__comments:-moz-placeholder {
  .form-ph();
}

.order-form__input::-moz-placeholder {
  .form-ph();
}

.order-form__comments::-moz-placeholder {
  .form-ph();
}

.order-form__input:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:-ms-input-placeholder {
  .form-ph();
}

.order-form__input:hover::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments:hover::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:hover:-moz-placeholder {
  .form-ph();
}

.order-form__comments:hover:-moz-placeholder {
  .form-ph();
}

.order-form__input:hover::-moz-placeholder {
  .form-ph();
}

.order-form__comments:hover::-moz-placeholder {
  .form-ph();
}

.order-form__input:hover:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:hover:-ms-input-placeholder {
  .form-ph();
}

.order-form__input:focus::-webkit-input-placeholder {
  .form-ph();
}

.order-form__comments:focus::-webkit-input-placeholder {
  .form-ph();
}

.order-form__input:focus:-moz-placeholder {
  .form-ph();
}

.order-form__comments:focus:-moz-placeholder {
  .form-ph();
}

.order-form__input:focus::-moz-placeholder {
  .form-ph();
}

.order-form__comments:focus::-moz-placeholder {
  .form-ph();
}

.order-form__input:focus:-ms-input-placeholder {
  .form-ph();
}

.order-form__comments:focus:-ms-input-placeholder {
  .form-ph();
}

.order-form__input--phone,
.order-form__input--email {
  width: 100%;
}

.order-form__comments {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 15px 17px;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;
}

.order-form__submit-container {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.order-form__note {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  margin-bottom: 25px;
  width: 100%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .order-form fieldset {
    width: 668px;
    padding: 0 50px;
  }

  .order-form__fieldset-legend {
    position: absolute;
    width: auto;
    top: 4px;
    left: auto;
  }

  .order-form__fieldset-legend::after {
    background-color: transparent;
  }

  .order-form__padding-container {
    padding-left: 170px;
  }

  .order-form__color-container {
    display: flex;
  }

  .order-form__type {
    margin-bottom: 0;
  }

  .order-form__color {
    column-width: 240px;
    column-gap: 15px;
    column-count: 2;
  }

  .order-form__type li,
  .order-form__color li {
    margin-bottom: 60px;
  }

  .order-form__personal-container {
    flex-direction: row;
  }

  .order-form label {
    margin-right: 25px;
  }

  .order-form__input {
    margin-top: -20px;
    flex-grow: 1;
  }

  .order-form__input--phone,
  .order-form__input--email {
    background-color: #f1f1f1;
  }

  .order-form__comments {
    margin-top: 5px;
  }

  .order-form__submit-container {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .order-form__note {
    align-self: center;
    order: 2;
  }

  .order-form__btn {
    width: 226px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1150px) {
  .order-form fieldset {
    width: 1050px;
  }

  .order-form__fieldset-legend {
    left: 110px;
  }

  .order-form__color-container {
    flex-direction: column;
  }

  .order-form__color {
    width: 875px;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .order-form__color li {
    width: 180px;
    padding-left: 80px;
    margin-bottom: 60px;
  }

  .order-form__color li:nth-last-child(1),
  .order-form__color li:nth-last-child(2),
  .order-form__color li:nth-last-child(3) {
    margin-bottom: 0;
  }

  .order-form__personal {
    width: 700px;
  }

  .order-form__input--phone,
  .order-form__input--email {
    width: 700px;
  }

  .order-form__comments {
    width: 700px;
  }

  .order-form__submit-container {
    width: 700px;
    margin: 0 auto;
  }
}
