.order__container {
  padding-top: 25px;
  padding-bottom: 18px;
}

@media (min-width: 768px) {
  .order__container {
    padding-top: 53px;
    padding-bottom: 51px;
  }

  .order__container:nth-of-type(2n) {
    background-color: #f1f1f1;
  }

  .order__container:nth-of-type(4) {
    padding-top: 53px;
    padding-bottom: 14px;
  }

  .order__container:nth-of-type(5) {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .order__container:nth-of-type(5) legend {
    padding-top: 23px;
  }
}

@media (min-width: 1150px) {
  .order__container {
    padding-top: 56px;
    padding-bottom: 46px;
  }
}
