.page-title {
  display: block;
  width: 260px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) {
  .page-title {
    width: 660px;
    padding-top: 112px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-title--inner {
    padding-top: 53px;
  }
}

@media (min-width: 1150px) {
  .page-title {
    font-size: 53px;
    line-height: 55px;
  }
}
