.popular {
  padding: 30px;
}

.popular__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.popular__item-type {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.popular__description {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.popular table {
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.popular tr {
  border-bottom: 1px solid #ececec;
}

.popular td {
  padding-bottom: 10px;
  padding-top: 10px;
}

.popular__table-param {
  width: 37%;
}

.popular img {
  display: block;
  margin: 0 auto;
}

.popular__price {
  display: block;
  padding: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.popular__order-btn {
  display: block;
  margin-bottom: 10px;
}
