.production {
  padding: 30px;
  padding-top: 0;
  margin-bottom: 25px;
}

.production__container {
  padding: 33px;
  border: 1px solid @lightgray;
}

.production__header {
  margin: 0;
  padding-left: 57px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.production__video-container {
  display: block;
  position: relative;
  width: 260px;
  height: 150px;
}

.production__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  transform: translate(-50%, -50%);
}

.production__description {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.production__btn {
  display: block;
}
