.reviews {
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.reviews__header {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin-bottom: 30px;
}

.reviews__write {
  display: block;
}
