.searching {
  border-bottom: 1px solid @lightgray;
}

.searching__search-field {
  width: 100%;
  padding: 27px 30px;
  padding-left: 55px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.searching__search-field::placeholder {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: hsl(0, 0%, 0%);
}
