.slider__buttons {
  display: flex;
  margin-bottom: 40px;
}

.slider__btn {
  padding: 0;
  width: 50%;
  min-height: 50px;
  font: inherit;
  color: inherit;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #ececec;
}

.slider__btn-svg {
  width: 50px;
  height: 26px;
}

.slider__btn:hover > .slider__btn-svg {
  opacity: 0.6;
}

.slider__btn:active > .slider__btn-svg {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .slider__buttons {
    position: absolute;
    bottom: 7px;
    right: 5px;
    margin: 0;
    width: 175px;
  }
}

@media (min-width: 1150px) {
  .slider__buttons {
    bottom: 188px;
    right: 0;
  }
}
